[submodule "stm32l0xx-device"]
    path = drivers/device/stm32l0xx-device
    url = https://github.com/Ludovic-Lesur/stm32l0xx-device.git
[submodule "stm32l0xx-registers"]
    path = drivers/registers/stm32l0xx-registers
    url = https://github.com/Ludovic-Lesur/stm32l0xx-registers.git
[submodule "stm32l0xx-drivers"]
    path = drivers/peripherals/stm32l0xx-drivers
    url = https://github.com/Ludovic-Lesur/stm32l0xx-drivers.git
[submodule "embedded-utils"]
    path = drivers/utils/embedded-utils
    url = https://github.com/Ludovic-Lesur/embedded-utils.git
[submodule "fxls89xxxx-driver"]
    path = drivers/components/fxls89xxxx-driver
    url = https://github.com/Ludovic-Lesur/fxls89xxxx-driver.git
